* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
/******************** PAGE INDEX - ACCUEIL OH MY FOOD ************************/
/* HEADER ZONE */
header img {
    width: 37.56%;
    margin-bottom: 3%;
    background-color: #f6f6f6;
    padding: 32px 90px 16px 89px;
    padding-top: 14%;
}
#header-localisation {
    background-color: #f6f6f6;
    width: 31.01%;
    padding-left: 19%;
    margin-top: -47px;
    padding-bottom: 2%;
}
#header-localisation input {
    text-align: center;
    border: none;
    font-size: 15px;
}
/* SECTION*/
#header-info {
    display: flex;
    width: 100%;
}
#header-left {
    width: 50%;
    background-color: #f6f6f6;
    text-align: center;
}
#header-left h1 {
    font-size: 22px;
}
#header-left input {
    margin-top: 2%;
    padding: 13px 30px 13px 30px;
    border-radius: 20px;
    border: 1px solid #f6f6f6;
    background: linear-gradient(#FF79DA,#9356DC);
    color: #fff;
    border-radius: 20px;
}
#header-right {
    width: 50%;
    margin-top: -16%;
    margin-bottom: 8.5%;
    display: flex;
    flex-direction: column;
}
#header-right h2 {
    margin-bottom: 8%;
    text-align: center;
}
#header-input-bottom {
    font-size: 14px;
}
.article-choice {
    margin-left: 26%;
    margin-bottom: 6%;
    background-color: #f2f2f2;
    width: 40%;
    padding: 32px 30px 30px 50px;
    border-radius: 20px;
}
.article-choice i {
    padding-right: 10%;
    padding-left: 7%;
}
.article-choice span {
    margin-left: -25%;
    background-color:#9356dc;
    padding:13px 18px 13px 18px;
    border-radius: 100%;
    color: #fff;
}
.article-choice:hover {
    background-color: #f5eeff;
}
.article-choice:hover i {
    color: #9356DC;
}
/* EATERY */
#eatery {
    background-color: #f6f6f6;
    width: 100%;
}
#eatery h1 {
    font-size: 28px;
    margin-left: 8%;
    padding-top: 3%;
}
#eatery-all {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 7%;
}
/* SECTION EATERY TOP - 1 */
.eatery-img {
    width: 100%;
    height:300px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#eatery-all article {
    width: 34.7%;
    margin-top: 3%;
    margin-left: 10.5%;
    border-radius: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    position: relative;
}
.eatery-info {
    margin-left: 4%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
}
.eatery-info p {
    font-size: 17px;
}
/* Heart Icons */
.heart {
    display: flex;
}
.heart i {
    font-size: 33px;
    font-weight: 100;
}
/*  SPAN NEW position */
#span-top {
    position:absolute;
    left: 80.2%;
    bottom:88.5%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
#span-top-middle {
    position: absolute;
    bottom: 88.5%;
    left: 80.2%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
/*  SPAN NEW position */
#span-top {
    position:absolute;
    left: 80.2%;
    bottom:88.5%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
#span-top-middle {
    position: absolute;
    bottom: 88.5%;
    left: 80.2%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
/* FOOTER */
footer {
    background-color: rgb(56, 56, 56);
    padding-bottom: 3%;
}
footer h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    color: #fff;
    text-align: center;
    padding-top: 2%;
    font-weight: normal;
}
footer ul {
    list-style-type: none;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    margin-right: 7%;
}
footer a {
    color: #fff;
}
footer i {
    padding-right: 10px;
}




/******************** PAGE MENU - LA PALETTE DU GOUT ************************/
/* NAV */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3%;
}
nav a {
    margin-left: -41%;
    margin-right: -50%;
    font-size: 37px;
    padding-top: 2%;
}
nav img {
    padding-top: 3%;
    width: 20%;
}
/* HEADER ALL-PAGES */
#header-all-pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}
/* HEADER TITLE ALL-PAGES */
#header-title {
    margin-top: -10%;
    font-size: 24px;
    background-color: #f6f6f5;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
#header-title i {
    font-size: 35px;
    font-weight: 100;
}
#header-title h1 {
    font-family: 'Shrikhand', cursive;
}
/* SECTION ID : ALL CHOICES */
main {
    background-color: #f6f6f5;
    margin-top: -7%;
}
main h3 {
    font-size: 22px;
}
/* SECTION ID : H2 STARTERS */
.title-choices {
    padding-top: 2%;
    font-weight: 200;
    font-size: 29px;
    width: 4.8%;
    margin-left: 20.2%;
    border-bottom: 5px solid #99E2D0;
    margin-bottom: 2%;
}
/* ARTICLE CLASS: CARDS-CHOICES */
main button {
    background-color: #fff;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    border-radius: 24px;
    margin-bottom: 2%;
    border: none;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
}
main button:hover {

    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
.cards-choices h3 {
    padding-bottom: 15px;
    display: flex;
}
/* DIV CLASS CHOICES-INFO */
.choices-info {
    display: flex;
    justify-content:space-between;
    font-size: 26px;
}
.choices-info p {
    font-weight: 100;
    font-size:19px;
}
.choices-info span {
    font-weight: 500;
    font-size: 19px;
}
/* BUTTON SECTION ID : ORDER */
#order {
    background-color: #f6F6F5;
}
#order button {
    font-size:20px;
    border-radius: 60px;
    padding: 15px 50px 15px 50px;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    color: #fff;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
    margin-left: 42.5%;
    margin-top: 4%;
    margin-bottom: 6%;
}
#order button:hover {
    background: linear-gradient(#fF85DA, #9365DC);
    font-weight: 500;
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
/*! RESPONSIVE DESIGN TABLETTE - LA PALETTE DU GOUT !*/
@media (max-width: 992px){
    /* NAV ALL PAGES */
    nav {
        width: 85%;
        margin-bottom: 4%;
        margin-top: -2%;
        margin-left: 15%;
        margin-right: -10%;
        padding-top: 4%;
    }
    nav img {
        width: 45%;
    }
    /* IMG NOTE ENCHANTEE */
    #header-img-restaurant {
        height: 557px;
        object-fit: cover;
    }
    /* HEADER ALL PAGES */
    #header-title {
        margin-top: -14%;
    }
    #header-title h1 {
        font-size: 41px;
        margin-left: 18%;
    }
    #header-title i {
        margin-right: 18%;
    }
    /* BUTTON ORDER */
    #order button {
        margin-left: 37%;
    }
}
/*! RESPONSIVE DESIGN MOBILE - LA PALETTE DU GOUT !*/
@media (max-width: 767px) {
    /* NAV */
    nav {
        display: flex;
        justify-content: space-around;
        margin-left: 14%;
        padding-bottom: 5%;
        align-items: center;
        padding-top: 8%;
    }
    nav a {
        font-size: 23px;
        padding-right: 17%;
        padding-left: 4%;
    }
    nav img {
        width: 60%;
    }
    /* HEADER IMG */
    #header-img {
        width: 100%;
    }
    #header-img-restaurant {
        width: 100%;
        height: 317px;
        object-fit: cover;
    }
    /* HEADER-TITLE */
    #header-title {
        border-top-left-radius: 42px;
        border-top-right-radius: 42px;
        margin-top: -11%;
    }
    #header-title h1 {
        font-size: 30px;
        margin-left: 0;
    }
    #header-title i {
        font-size: 28px;
        padding-right: 13px;
        margin-right: 0;
    }
    /* CARDS CHOICES */
    .title-choices {
        font-size: 20px;
        margin-left: 4%;
        width: 12%;
        margin-bottom: 4%;
    }
    main button {
        width: 91.5%;
        margin-left: 4.4%;
        padding: 13px 16px 13px 10px;
        border-radius: 15px;
    }
    main h3 {
        font-size: 20px;
        padding-bottom: 8px;
    }
    .choices-info p {
        font-size: 15px;
    }
    .choices-info span {
        font-size: 17px;
    }
    /* ORDER BUTTON */
    #order {
        padding-top: 4%;
        padding-bottom: 4%;
        padding-right: 31.5%;
    }
}
/******************** PAGE MENU - LA NOTE ENCHANTﾃ右 ************************/
/* HEADER TITLE */
/* REVOIR NOMMAGE DES ID ET CLASS : EXEMPLE = HEADER TITLE RESTAURANT */
#header-title {
    margin-top: -10%;
    font-size: 24px;
    background-color: #f6f6f5;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
#header-title i {
    font-size: 35px;
    font-weight: 100;
}
#header-title h1 {
    font-family: 'Shrikhand', cursive;
}
/* HEADER IMG ONLY NOTE ENCHANTEE */
#header-img-restaurant {
    height: 990px;
    object-fit: cover;
}
/* BUTTON SECTION ID : ORDER */
#order {
    background-color: #f6F6F5;
}
#order button {
    font-size:20px;
    border-radius: 60px;
    padding: 15px 50px 15px 50px;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    color: #fff;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
    margin-left: 42.5%;
    margin-top: 4%;
    margin-bottom: 6%;
}
#order button:hover {
    background: linear-gradient(#fF85DA, #9365DC);
    font-weight: 500;
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
/*! RESPONSIVE TABLETTE - LA NOTE ENCHANTﾃ右 !*/
@media (max-width: 992px) {
    /* NAV */
    nav {
        padding-top: 4%;
    }
    /* HEADER IMG ONLY NOTE ENCHANTﾃ右 */
    #header-img-restaurant {
        height: 600px;
        object-fit: cover;
    }
    /* HEADER ALL PAGES */
    #header-title {
        margin-top: -14%;
    }
    #header-title h1 {
        font-size: 41px;
        margin-left: 18%;
    }
    #header-title i {
        margin-right: 18%;
    }
    /* BUTTON ORDER */
    #order button {
        margin-left: 37%;
    }
}
/*! RESPONSIVE MOBILE - LA NOTE ENCHANTﾃ右 !*/
@media (max-width: 767px) {
    /* NAV */
    nav {
        padding-top: 8%;
    }
    /* HEADER */
    #header-title {
        border-top-left-radius: 42px;
        border-top-right-radius: 42px;
        margin-top: -11%;
    }
    #header-title h1 {
        font-size: 30px;
        margin-left: 0;
    }
    #header-title i {
        font-size: 28px;
        padding-right: 5%;
        margin-right: 0;
    }
}





