* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
/******************** PAGE D'ACCUEIL ************************/
/* HEADER */
header {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 7%;
}
/* SECTION EXPLORE */
#explore-location {
    display: flex;
    justify-content: center;
    background-color: #eae9ea;
    padding: 30px;
    font-size: 20px;
    text-align: center;
}
#explore-location input {
    border: none;
    background-color: #eae9ea;
    font-size: 15px;
    text-align: center;
    margin-left: -10px;
}
#explore-location i {
    padding-right: 16px;
}
#explore-book {
    justify-content: center;
    text-align: center;
    background-color: #f6f6f5;
    padding-bottom: 8%;
}
#explore-book h1 {
    width: 80%;
    margin-left: 10%;
    font-size: 28px;
    padding-top: 9%;
    padding-bottom:0.5%;
}
#explore-book h3 {
    font-size: 23px;
    font-weight: 100;
    padding-bottom: 2%;
}
#explore-book button {
    font-size:20px;
    border-radius: 60px;
    padding: 20px;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    color: #fff;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
}
#explore-book button:hover {
    background: linear-gradient(#fF85DA, #9365DC);
    font-weight: 500;
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
/* SECTION CHOICE */
#choice {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* SECTION CHOICE TOP - SPAN 1 */
#choice h1 {
    font-size: 28px;
    margin-top: 4%;
    margin-left: 8%;
}
#choice-link article {
    width: 30%;
    margin-top: 3%;
    margin-left: 35%;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    background-color: #f6f6f5;
    padding: 30px 10px 21px 30px;
    border-radius: 23px;
    box-shadow: 0px 3px 10px lightgrey;
}
#choice-link article:hover {
    background-color: #f6edff;
}
#choice-link article:hover {
    box-shadow: 0px 4px 10px rgb(122, 122, 122);
}
#choice-link article i {
    margin-top: 5px;
    margin-left: -8%;
    color: grey;
    margin-right: -5%;
}
#choice-link article span {
    margin-top: -2%;
    margin-left: -35%;
    background-color: #9356DC;
    background-color: #9356DC;
    padding: 11px 16px 11px 16px;
    border-radius: 50%;
    color: #fff;
}
/* SECTION EATERY */
#eatery {
    background-color: #f6f6f6;
    width: 100%;
}
#eatery h1 {
    font-size: 28px;
    margin-left: 8%;
    padding-top: 3%;
}
#eatery-all {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 7%;
}
/* SECTION EATERY TOP - 1 */
.eatery-img {
    width: 100%;
    height:300px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#eatery-all article,
#eatery-top {
    width: 34.7%;
    margin-top: 3%;
    margin-left: 10.5%;
    border-radius: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    position: relative;
}
.eatery-info {
    margin-left: 4%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
}
.eatery-info p {
    font-size: 17px;
}
/* Heart Icons */
.heart {
    display: flex;
}
.heart i {
    font-size: 33px;
    font-weight: 100;
}
/*  SPAN NEW position */
#span-top {
    position:absolute;
    left: 80.2%;
    bottom:88.5%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
#span-top-middle {
    position: absolute;
    bottom: 88.5%;
    left: 80.2%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}

/* FOOTER */
footer {
    background-color: rgb(56, 56, 56);
    padding-bottom: 3%;
}
footer h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    color: #fff;
    text-align: center;
    padding-top: 2%;
    font-weight: normal;
}
footer ul {
    list-style-type: none;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    margin-right: 7%;
}
footer a {
    color: #fff;
}
footer i {
    padding-right: 10px;
}
/*! RESPONSIVE TABLETTE !*/
@media (max-width: 992px) {
    #explore-location i {
        font-size:21px;
    }
    #explore-location input {
        font-size: 21px;
    }
    #choice {
        margin-bottom: 10%;
    }
    #choice-link {
        margin-top: 5%;
    }
    #choice-link article {
        padding: 25px 60px 20px 60px;
        margin-left: 28%;
    }
    #choice-link  p {
        margin-left: 10%;
        margin-top: 2.3%;
    }
    #choice-link i {
        margin-top:2.3%;
    }
    #choice-link article span {
        margin-left: -38%;
        margin-right: 24%;
        margin-top: 1.2%;
    }
    #eatery {
        padding-top: 2%;
    }
    #eatery-all {
        margin-top: 2%;
        flex-direction: column;
    }
    #eatery-all article {
        width: 70%;
        margin-left: 15%;
    }
    #span-top {
        left: 82%;
        bottom: 87%;
    }
    #span-top-middle {
        left: 82%;
        bottom: 87%;
    }
}
/*! RESPONSIVE TABLETTE LANDSCAPE ORIENTATION !*/
@media screen and (orientation: landscape) {
    #choice {
        margin-bottom: 8%;
    }
    #eatery {
        padding-top: 2%;
    }
    #eatery h1 {
        padding-bottom: 2%;
    }
    #span-top {
        left: 75%;
        bottom: 87%;
    }
    #span-top-middle {
        left: 75%;
        bottom: 87%;
    }
}
/*! RESPONSIVE DESIGN MOBILE !*/
@media (max-width: 767px) {
    /* HEADER IMG */
    #logo-accueil {
        width: 40%;
        margin-top: 5px;
    }
    /* SECTION EXPLORER */
    #explore-location {
        padding: 15px;
        box-shadow: inset 0px 9px 5px -10px grey;
    }
    #explore-location input {
        font-weight: 500;
        color: #000000;
    }
    #explore-book h1 {
        width: 65%;
        margin-left: 17.5%;
        font-size: 25px;
    }
    #explore-book h3 {
        margin-top: 3%;
        padding: 20px;
        margin-bottom: 5%;
        font-size: 18px;
    }
    #explore-book button {
        padding: 17px;
        font-size: 15px;
    }
    /* SECTION CHOICE */
    #choice {
        width: 100%;
    }
    /* CHOICE TOP */
    #choice h1 {
        font-size: 26px;
        margin-bottom: 8%;
        margin-left: 5%;
        margin-top: 13%;
    }
    #choice-link article {
        width: 86%;
        margin-left: 6.8%;
        border-radius: 10px;
        padding: 20px 0px 20px 10px;
        margin-bottom: 6%;
    }
    #choice-link article span {
        margin-left: -23%;
        margin-top: 1%;
        padding: 5px 10px 5px 10px;
    }
    #choice-link article a {
        font-size: 16px;
    }
    #choice-link article i {
        margin-left: -27%;
        margin-top: 2%;
    }
    #choice-link article p {
        margin-top: 1.5%;
        margin-left: 0;
    }
    /* SECTION EATERY */
    #eatery h1 {
        padding-top: 15%;
        font-size: 26px;
        padding-bottom: 5%;
        margin-left: 5%;
    }
    #eatery-all {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    #eatery-all article {
        width: 90%;
        margin-left: 5%;
    }
    #eatery-img {
        object-fit: cover;
        width: 100%;
        height: 230px;
    }
    #span-top {
        margin-left: -9%;
        top: 4%;
        padding-bottom: 28px;
    }
    #span-top-middle {
        margin-left: -9%;
        top: 4%;
        padding-bottom: 28px;
    }
    .eatery-info {
        justify-content: space-between;
        margin-right: 0;
    }
    .heart {
        margin-right: 5%;
    }
    .eatery-info h3 {
        font-size: 19px;
    }
    .eatery-info p {
        font-size: 19px;
    }
    /* FOOTER */
    footer {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 3%;
    }
    footer h3 {
        font-size: 20px;
        margin-left: -63%;
        padding-bottom: 2.5%;
    }
    footer ul {
        display: flex;
        flex-direction: column;
    }
    footer a {
        margin-left: -7%;
    }
    footer li {
        padding-bottom: 3%;
    }
}
/******************** PAGE MENU - LA PALETTE DU GOUT ************************/
/* NAV */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3%;
}
nav a {
    margin-left: -41%;
    margin-right: -50%;
    font-size: 37px;
    padding-top: 2%;
}
nav img {
    padding-top: 3%;
    width: 20%;
}
/* HEADER ALL-PAGES */
#header-all-pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}
/* HEADER TITLE ALL-PAGES */
#header-title {
    margin-top: -10%;
    font-size: 24px;
    background-color: #f6f6f5;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
#header-title i {
    font-size: 35px;
    font-weight: 100;
}
#header-title h1 {
    font-family: 'Shrikhand', cursive;
}
/* SECTION ID : ALL CHOICES */
main {
    background-color: #f6f6f5;
    margin-top: -7%;
}
main h3 {
    font-size: 22px;
}
/* SECTION ID : H2 STARTERS */
.title-choices {
    padding-top: 2%;
    font-weight: 200;
    font-size: 29px;
    width: 4.8%;
    margin-left: 20.2%;
    border-bottom: 5px solid #99E2D0;
    margin-bottom: 2%;
}
/* ARTICLE CLASS: CARDS-CHOICES */
main button {
    background-color: #fff;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    border-radius: 24px;
    margin-bottom: 2%;
    border: none;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
}
main button:hover {

    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
.cards-choices h3 {
    padding-bottom: 15px;
    display: flex;
}
/* DIV CLASS CHOICES-INFO */
.choices-info {
    display: flex;
    justify-content:space-between;
    font-size: 26px;
}
.choices-info p {
    font-weight: 100;
    font-size:19px;
}
.choices-info span {
    font-weight: 500;
    font-size: 19px;
}
/* BUTTON SECTION ID : ORDER */
#order {
    background-color: #f6F6F5;
}
#order button {
    font-size:20px;
    border-radius: 60px;
    padding: 15px 50px 15px 50px;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    color: #fff;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
    margin-left: 42.5%;
    margin-top: 4%;
    margin-bottom: 6%;
}
#order button:hover {
    background: linear-gradient(#fF85DA, #9365DC);
    font-weight: 500;
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
/*! RESPONSIVE DESIGN TABLETTE - LA PALETTE DU GOUT !*/
@media (max-width: 992px){
    /* NAV ALL PAGES */
    nav {
        width: 85%;
        margin-bottom: 4%;
        margin-top: -2%;
        margin-left: 15%;
        margin-right: -10%;
        padding-top: 4%;
    }
    nav img {
        width: 45%;
    }
    /* IMG NOTE ENCHANTEE */
    #header-img-restaurant {
        height: 557px;
        object-fit: cover;
    }
    /* HEADER ALL PAGES */
    #header-title {
        margin-top: -14%;
    }
    #header-title h1 {
        font-size: 41px;
        margin-left: 18%;
    }
    #header-title i {
        margin-right: 18%;
    }
    /* BUTTON ORDER */
    #order button {
        margin-left: 37%;
    }
}
/*! RESPONSIVE DESIGN MOBILE - LA PALETTE DU GOUT !*/
@media (max-width: 767px) {
    /* NAV */
    nav {
        display: flex;
        justify-content: space-around;
        margin-left: 14%;
        padding-bottom: 5%;
        align-items: center;
        padding-top: 8%;
    }
    nav a {
        font-size: 23px;
        padding-right: 17%;
        padding-left: 4%;
    }
    nav img {
        width: 60%;
    }
    /* HEADER IMG */
    #header-img {
        width: 100%;
    }
    #header-img-restaurant {
        width: 100%;
        height: 317px;
        object-fit: cover;
    }
    /* HEADER-TITLE */
    #header-title {
        border-top-left-radius: 42px;
        border-top-right-radius: 42px;
        margin-top: -11%;
    }
    #header-title h1 {
        font-size: 30px;
        margin-left: 0;
    }
    #header-title i {
        font-size: 28px;
        padding-right: 13px;
        margin-right: 0;
    }
    /* CARDS CHOICES */
    .title-choices {
        font-size: 20px;
        margin-left: 4%;
        width: 12%;
        margin-bottom: 4%;
    }
    main button {
        width: 91.5%;
        margin-left: 4.4%;
        padding: 13px 16px 13px 10px;
        border-radius: 15px;
    }
    main h3 {
        font-size: 20px;
        padding-bottom: 8px;
    }
    .choices-info p {
        font-size: 15px;
    }
    .choices-info span {
        font-size: 17px;
    }
    /* ORDER BUTTON */
    #order {
        padding-top: 4%;
        padding-bottom: 4%;
        padding-right: 31.5%;
    }
}
/******************** PAGE MENU - LA NOTE ENCHANTﾃ右 ************************/
/* HEADER TITLE */
/* REVOIR NOMMAGE DES ID ET CLASS : EXEMPLE = HEADER TITLE RESTAURANT */
#header-title {
    margin-top: -10%;
    font-size: 24px;
    background-color: #f6f6f5;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
#header-title i {
    font-size: 35px;
    font-weight: 100;
}
#header-title h1 {
    font-family: 'Shrikhand', cursive;
}
/* HEADER IMG ONLY NOTE ENCHANTEE */
#header-img-restaurant {
    height: 990px;
    object-fit: cover;
}
/* BUTTON SECTION ID : ORDER */
#order {
    background-color: #f6F6F5;
}
#order button {
    font-size:20px;
    border-radius: 60px;
    padding: 15px 50px 15px 50px;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    color: #fff;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
    margin-left: 42.5%;
    margin-top: 4%;
    margin-bottom: 6%;
}
#order button:hover {
    background: linear-gradient(#fF85DA, #9365DC);
    font-weight: 500;
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
/*! RESPONSIVE TABLETTE - LA NOTE ENCHANTﾃ右 !*/
@media (max-width: 992px) {
    /* NAV */
    nav {
        padding-top: 4%;
    }
    /* HEADER IMG ONLY NOTE ENCHANTﾃ右 */
    #header-img-restaurant {
        height: 600px;
        object-fit: cover;
    }
    /* HEADER ALL PAGES */
    #header-title {
        margin-top: -14%;
    }
    #header-title h1 {
        font-size: 41px;
        margin-left: 18%;
    }
    #header-title i {
        margin-right: 18%;
    }
    /* BUTTON ORDER */
    #order button {
        margin-left: 37%;
    }
}
/*! RESPONSIVE MOBILE - LA NOTE ENCHANTﾃ右 !*/
@media (max-width: 767px) {
    /* NAV */
    nav {
        padding-top: 8%;
    }
    /* HEADER */
    #header-title {
        border-top-left-radius: 42px;
        border-top-right-radius: 42px;
        margin-top: -11%;
    }
    #header-title h1 {
        font-size: 30px;
        margin-left: 0;
    }
    #header-title i {
        font-size: 28px;
        padding-right: 5%;
        margin-right: 0;
    }
}





