* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
/******************** PAGE INDEX - ACCUEIL OH MY FOOD ************************/
/* HEADER ZONE */
header img {
    width: 37.56%;
    margin-bottom: 3%;
    background-color: #f6f6f6;
    padding: 32px 90px 16px 89px;
    padding-top: 14%;
}
#header-localisation {
    background-color: #f6f6f6;
    width: 31.01%;
    padding-left: 19%;
    margin-top: -47px;
    padding-bottom: 2%;
}
#header-localisation input {
    text-align: center;
    border: none;
    font-size: 15px;
    background-color: #F6F6F6;
}
/* SECTION*/
#header-info {
    display: flex;
    width: 100%;
}
#header-left {
    width: 50%;
    background-color: #f6f6f6;
    text-align: center;
}
#header-left p {
    padding-top: 1%;
    color: #6b6b6b;
    padding-bottom: 4%;
}
#header-left h1 {
    font-size: 22px;
}
#header-left input {
    margin-top: 2%;
    padding: 13px 30px 13px 30px;
    border: 1px solid #f6f6f6;
    background: linear-gradient(#FF79DA,#9356DC);
    color: #fff;
    border-radius: 20px;
}
#header-right {
    width: 50%;
    margin-top: -16%;
    margin-bottom: 8.5%;
    display: flex;
    flex-direction: column;
}
#header-right h2 {
    margin-bottom: 8%;
    text-align: center;
}
#header-input-bottom {
    font-size: 14px;
}
.article-choice {
    margin-left: 26%;
    margin-bottom: 6%;
    background-color: #f2f2f2;
    width: 40%;
    padding: 32px 30px 30px 50px;
    border-radius: 20px;
}
.article-choice i {
    padding-right: 10%;
    padding-left: 7%;
}
.article-choice span {
    margin-left: -25%;
    background-color:#9356dc;
    padding:13px 18px 13px 18px;
    border-radius: 100%;
    color: #fff;
}
.article-choice:hover {
    background-color: #f5eeff;
}
.article-choice:hover i {
    color: #9356DC;
}
/* EATERY */
#eatery {
    background-color: #f6f6f6;
    width: 100%;
}
#eatery h1 {
    font-size: 28px;
    margin-left: 8%;
    padding-top: 3%;
}
#eatery-all {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 7%;
}
/* SECTION EATERY TOP - 1 */
.eatery-img {
    width: 100%;
    height:300px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#eatery-all article {
    width: 34.7%;
    margin-top: 3%;
    margin-left: 10.5%;
    border-radius: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    position: relative;
}
.eatery-info {
    margin-left: 4%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
}
.eatery-info p {
    font-size: 17px;
}
/* Heart Icons */
.heart {
    display: flex;
}
.heart i {
    font-size: 33px;
    font-weight: 100;
}
/*  SPAN NEW position */
#span-top {
    position:absolute;
    left: 80.2%;
    bottom:88.5%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
#span-top-middle {
    position: absolute;
    bottom: 88.5%;
    left: 80.2%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
/*  SPAN NEW position */
#span-top {
    position:absolute;
    left: 80.2%;
    bottom:88.5%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
#span-top-middle {
    position: absolute;
    bottom: 88.5%;
    left: 80.2%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
/* FOOTER */
footer {
    background-color: rgb(56, 56, 56);
    padding-bottom: 3%;
}
footer h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    color: #fff;
    text-align: center;
    padding-top: 2%;
    font-weight: normal;
}
footer ul {
    list-style-type: none;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    margin-right: 7%;
}
footer a {
    color: #fff;
}
footer i {
    padding-right: 10px;
}

/*! DESIGN MOBILE !*/
@media (max-width: 767px) {
    header {
        width: 100%;
    }
    header img {
        padding-top: 6%;
        padding-bottom: 6%;
        width: 69.8%;
        padding-left: 16%;
        padding-right: 15%;
    }
    #header-localisation {
        width: 50%;
        padding-left: 27.8%;
        padding-right: 23%;
        margin-top: -4%;
        background-color: #ebebeb;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #header-localisation input {
        background-color: #ebebeb;
    }
    #header-info {
        width: 100%;
        display: inline-block;
    }
    #header-left {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 1%;
        width: 100%;
    }
    #header-left h1 {
        width: 62%;
        padding-left: 19%;
        font-size: 24px;
    }
    #header-left p {
        padding-top: 3%;
        font-size: 18px;
        padding-bottom: 5%;
    }
    #header-left input {
        font-size: 15px;
    }
    #header-right {
        width: 100%;
        margin-bottom: 0;
    }
    #header-right h2 {
        margin-left: -48%;
        margin-top: 25%;
    }
    .article-choice {
        width: 60%;
        margin-left: 11%;
    }
    #eatery h1 {
        width: 62%;
        margin-left: 5%;
        font-size: 24px;
        padding-top: 10%;
        padding-bottom: 8%;
    }
    #eatery-all article {
        margin-bottom: 8%;
        width: 84%;
        margin-left: 8%;
    }
    .eatery-img {
        height: 200px;
    }
    .cards-info p {
        font-weight: 300;
    }
    #span-top {
        bottom: 83%;
        left: 70%;
    }
    #span-top-middle {
        bottom: 83%;
        left: 70%;
    }
    footer {
        padding-bottom: 8%;
    }
    footer h3 {
        padding-right: 53%;
        font-size: 21px;
        padding-bottom: 2%;
    }
    footer ul {
        display: inline-block;
    }
    footer ul li {
        padding-bottom: 2%;
    }
}


/*! *************************************************** LA PALETTE DU GOUT *************************************************** !*/

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
    background-size: cover;
}
.loader-inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-top: 16px solid #9ae3cf;
    border-right: 16px solid #a4e6d4;
    border-bottom: 16px solid #aee9d9;
    border-left: 16px solid #b8ebdd;
    animation: spin 1s linear infinite, hide 1s 1s forwards;
    position: absolute;
    top: 450px;
    z-index: 1;
}
@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}
@keyframes hide {
    to {opacity:0}
  }
}
/******************** PAGE MENU - LA PALETTE DU GOUT ************************/
/* HEADER ALL-PAGES */
#header-all-pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    background-color: #F6F6F6;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F6F6;
    margin-bottom: 0;
}
nav a {
    margin-left: -27%;
    margin-right: -33%;
    font-size: 20px;
    padding-top: 2%;
}
#nav-img {
    padding-top: 2%;
    width: 22%;
    margin-bottom: 0;
}
/* MAIN */
#top-img {
    width: 50%;
}
#header-img {
    width: 100%;
    height: 1000px;
    object-fit: cover;
    object-position: center;
    padding: 0;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
    background-color: #F6F6F6;
    margin-left: 2%;
    margin-top: 10%;
}
#menu-main {
    width: 60%;
}
#menu-main-top {
    margin-top: 0;
    margin-left: 4%;
    font-size: 21px;
    background-color: #f6f6f6;
    padding: 35px 70px 26px 61px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#menu-main-top i {
    font-size: 23px;
    margin-right: 0;
    font-weight: 100;
}
#menu-main-top h1 {
    font-family: 'Shrikhand', cursive;
}
main {
    background-color: #f6f6f6;
    margin-top: 0;
    display: flex;
}

/* SECTION ID : H2 STARTERS */
.title-choices {
    padding-top: 1%;
    font-weight: 200;
    font-size: 23px;
    width: 4.8%;
    margin-left: 14%;
    border-bottom: 5px solid #99E2D0;
    margin-bottom: 2%;
}
/* ARTICLE CLASS: CARDS-CHOICES */
main button {
    background-color: #fff;
    width: 75%;
    margin-left: 14%;
    padding: 20px;
    border-radius: 24px;
    margin-bottom: 2%;
    border: none;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
}
main button:hover {
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
.cards-choices h3 {
    font-size: 17px;
    padding-bottom: 2px;
    display: flex;
}
/* BUTTON CHECK */
button {
    text-align:initial;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
}
button:hover {
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
.choices-info {
    display: flex;
    justify-content: space-between;
}
button:hover #check {
    transition: all 0.76s ease-out;
    visibility: visible;
    transform: translateX(0px);
}
button:hover .choices-info span {
    margin-right: 70px;
    transition: all 0.7s ease-in-out;
}
button:hover .fa-check-circle {
    transform: translateX(0px) rotate(360deg);
    transition: all 0.7s ease-in-out;
}
#check {
    background-color: #9ae3cf;
    width: 50px;
    text-align: center;
    padding: 31px 10px 31px 10px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    position: absolute;
    right: 0;
    visibility: hidden;    
    top: 0;
    transform: translateX(100px);
    transition: 0.5s linear;
}
.fa-check-circle {
    color: #fff;
    font-size: 22px;
}
/* DIV CLASS CHOICES-INFO */
.choices-info {
    display: flex;
    justify-content:space-between;
}
.choices-info p {
    font-weight: 100;
    font-size:14px;
}
.choices-info span {
    font-weight: 500;
    font-size: 15px;
}
/* ORDER BUTTON */
#order {
    background-color: #f6f6f6;
    width: 100%;
}
#order button {
    margin-left: 56%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size:20px;
    border-radius: 60px;
    padding: 15px 50px 15px 50px;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    color: #fff;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
    width: 35%;
    text-align: center;
}
#order button:hover {
    background: linear-gradient(#fF85DA, #9365DC);
    font-weight: 500;
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}



/*! RESPONSIVE DESIGN TABLETTE - LA PALETTE DU GOUT !*/
@media (min-width: 768px) and (max-width: 972px) {
    /* NAV */
    nav {
        margin-bottom: 0;
    }
    #nav-img {
        margin-bottom: 0;
    }
    /* MAIN */
    #top-img {
        width: 50%;
        margin-bottom: 0;
    }
    #header-img {
        width: 100%;
        object-position: center;
        height: 1000px;
        margin-top: 11%;
    }
    main {
        display:flex;
        margin-top: 0;
    }
    #menu-main {
        margin-top: 0;
        margin-left: 0;
        width: 60%;
    }
    #menu-main-top {
        padding: 35px 23px 26px 27px;
        width: 80%;
        font-size: 21px;
        justify-content:space-between;
        margin-left: 4%;
    }
    #menu-main-top h1 {
        margin-left: 7%;
    }
    #menu-main-top i {
        margin-right: 2%;
    }
    .title-choices {
        margin-left: 14%;
    }
    main button {
        width: 75%;
        margin-left: 14%;
    }
    .choices-info p {
        font-size: 14px;
    }
    /* ORDER BUTTON */
    #order button {
        width: 35%;
        margin-left: 56%;
        text-align: center;
    }

}


/*! RESPONSIVE DESIGN MOBILE - LA PALETTE DU GOUT !*/
@media (max-width: 767px) {
    /* HEADER */
    #header-all-pages {
        background-color: #fff;
        width: 100%;
    }
    /* NAV */
    nav {
        width: 100%;
        justify-content:space-between;
        padding-top: 4%;
        padding-bottom: 2%;
        margin-bottom: 0;
        background-color: #fff;
    }
    nav a {
        margin-left: 6%;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 2%;
    }
    #nav-img {
        width: 43%;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 27%;
        background-color: #fff;
    }
    /* MAIN */
    #header-img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        padding: 0;
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #top-img {
        height: 201px;
        width: 100%;
    }
    main {
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #menu-main {
        margin: 0;
        width: 100%;
        background-color: #F6F6F6;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    #menu-main h2 {
        margin-top: 4%;
    }
    #menu-main-top {
        width: 83%;
        margin-top: 0;
        margin-left: 0;
        font-size: 24px;
        padding: 35px 35px 0px 35px;
        background-color: #f6f6f6;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    #menu-main-top h1 {
        font-family: 'Shrikhand', cursive;
    }
    #menu-main-top i {
        font-size: 23px;
        margin-right: 0;
    }
    /* CHOICES */
    .title-choices {
        font-size: 18px;
        margin-left: 5%;
    }
    /* BUTTON */
    main button {
        width: 90%;
        border-radius: 15px;
        margin-left: 5%;
    }
    /* ORDER BUTTON */
    #order {
        width: 100%;
        padding-left: 0;
    }
    #order button {
        width: 50%;
        margin-left: 25%;
    }
}


















/******************** PAGE MENU - LA NOTE ENCHANTÉE ************************/
/* HEADER IMG ONLY NOTE ENCHANTEE 
#header-img-restaurant {
    width: 50%;
    height: 1230px;
    object-fit: cover;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
    margin-left: 2%;
    margin-top: 2%;
    padding: 0;
    background-color: #F6F6F6;
}
/* MENU MAIN ENCHANTED ONLY 
main {
    background-color: #f6f6f6;
    margin-top: -7%;
}
#menu-main-enchanted {
    width: 50%;
    margin-left: 50%;
    margin-top: -86%;
}
main button {
    background-color: #fff;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    border-radius: 24px;
    margin-bottom: 2%;
    border: none;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
}
main button:hover {
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
/* BUTTON SECTION ID : ORDER 
#order-one {
    background-color: #f6F6F5;
}
#order-one button {
    margin-left: 68%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size:20px;
    border-radius: 60px;
    padding: 15px 50px 15px 50px;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    color: #fff;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
}
#order-one button:hover {
    background: linear-gradient(#fF85DA, #9365DC);
    font-weight: 500;
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
/*! RESPONSIVE TABLETTE - LA NOTE ENCHANTÉE !
@media (max-width: 1180px) and (orientation: landscape) {
    #menu-main-enchanted {
        margin-top: -106%;
        margin-left: 51.5%;
        width: 48%;
    }
    #menu-main-top-enchanted {
        display: flex;
        align-items: center;
        justify-content:space-around;
        margin-bottom: 3%;
        margin-top: -1%;
    }
    #menu-main-top-enchanted h1 {
        font-size: 30px;
        margin-right: -40%;
        margin-left: -6%;
        font-family: 'Shrikhand', cursive;
    }
    #menu-main-top-enchanted i {
        font-size: 23px;
        font-weight: 100;
    }
    #order-one button {
        margin-left: 66%;
    }
}
/*! RESPONSIVE MOBILE - LA NOTE ENCHANTÉE !
@media (max-width: 767px) {
    /* HEADER 
    #header-all-pages {
        background-color: #fff;
    }
    nav {
        padding-top: 8%;
        padding-bottom: 1%;
        background-color: #fff;
    }
    nav a {
        font-size: 20px;
        margin-left: -17%;
        margin-right: -23%;
        padding-top: 0;
        margin-top: -3%;
    }
    #nav-img {
        width: 50%;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 1%;
        margin-top: -3%;
        background-color: #fff;
    }
    /* MAIN 
    #header-img-restaurant {
        width: 100%;
        height: 250px;
        object-fit: cover;
        padding: 0%;
        margin-left: 0;
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    main {
        margin-top: 0;
    }
    #menu-main-enchanted {
        position: relative;
        margin-top: -16%;
        width: 100%;
        margin-left: 0;
    }
    #menu-main-enchanted h2 {
        margin-top: 4%;
    }
    #menu-main-top {
        width: 83%;
        margin-top: 0;
        margin-left: 0;
        font-size: 24px;
        padding: 35px 35px 0px 35px;
        background-color: #f6f6f6;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    #menu-main-top h1 {
        font-family: 'Shrikhand', cursive;
    }
    #menu-main-top i {
        font-size: 23px;
        margin-right: 0;
    }
    /* CHOICES 
    .title-choices {
        font-size: 18px;
        margin-left: 5%;
    }
    /* BUTTON 
    main button {
        width: 90%;
        border-radius: 15px;
        margin-left: 5%;
    }
    #order-one button {
        font-size: 15px;
        margin-left: 28%;
        margin-bottom: 14%;
        margin-top: 8%;
    }
}*/




