* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
/******************** PAGE INDEX - ACCUEIL OH MY FOOD ************************/
/* HEADER ZONE */
header img {
    width: 37.56%;
    margin-bottom: 3%;
    background-color: #f6f6f6;
    padding: 32px 90px 16px 89px;
    padding-top: 14%;
}
#header-localisation {
    background-color: #f6f6f6;
    width: 31.01%;
    padding-left: 19%;
    margin-top: -47px;
    padding-bottom: 2%;
}
#header-localisation input {
    text-align: center;
    border: none;
    font-size: 15px;
    background-color: #F6F6F6;
}
/* SECTION*/
#header-info {
    display: flex;
    width: 100%;
}
#header-left {
    width: 50%;
    background-color: #f6f6f6;
    text-align: center;
}
#header-left p {
    padding-top: 1%;
    color: #6b6b6b;
    padding-bottom: 4%;
}
#header-left h1 {
    font-size: 22px;
}
#header-left input {
    margin-top: 2%;
    padding: 13px 30px 13px 30px;
    border: 1px solid #f6f6f6;
    background: linear-gradient(#FF79DA,#9356DC);
    color: #fff;
    border-radius: 20px;
}
#header-right {
    width: 50%;
    margin-top: -16%;
    margin-bottom: 8.5%;
    display: flex;
    flex-direction: column;
}
#header-right h2 {
    margin-bottom: 8%;
    text-align: center;
}
#header-input-bottom {
    font-size: 14px;
}
.article-choice {
    margin-left: 26%;
    margin-bottom: 6%;
    background-color: #f2f2f2;
    width: 40%;
    padding: 32px 30px 30px 50px;
    border-radius: 20px;
}
.article-choice i {
    padding-right: 10%;
    padding-left: 7%;
}
.article-choice span {
    margin-left: -25%;
    background-color:#9356dc;
    padding:13px 18px 13px 18px;
    border-radius: 100%;
    color: #fff;
}
.article-choice:hover {
    background-color: #f5eeff;
}
.article-choice:hover i {
    color: #9356DC;
}
/* EATERY */
#eatery {
    background-color: #f6f6f6;
    width: 100%;
}
#eatery h1 {
    font-size: 28px;
    margin-left: 8%;
    padding-top: 3%;
}
#eatery-all {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 7%;
}
/* SECTION EATERY TOP - 1 */
.eatery-img {
    width: 100%;
    height:300px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#eatery-all article {
    width: 34.7%;
    margin-top: 3%;
    margin-left: 10.5%;
    border-radius: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    position: relative;
}
.eatery-info {
    margin-left: 4%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
}
.eatery-info p {
    font-size: 17px;
}
/* Heart Icons */
.heart {
    display: flex;
}
.heart i {
    font-size: 33px;
    font-weight: 100;
}
/*  SPAN NEW position */
#span-top {
    position:absolute;
    left: 80.2%;
    bottom:88.5%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
#span-top-middle {
    position: absolute;
    bottom: 88.5%;
    left: 80.2%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
/*  SPAN NEW position */
#span-top {
    position:absolute;
    left: 80.2%;
    bottom:88.5%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
#span-top-middle {
    position: absolute;
    bottom: 88.5%;
    left: 80.2%;
    background-color: #98e2cf;
    padding: 9px 12px 9px 12px;
    border-radius: 2px;
    color: #068f6f;
    font-weight: 500;
}
/* FOOTER */
footer {
    background-color: rgb(56, 56, 56);
    padding-bottom: 3%;
}
footer h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    color: #fff;
    text-align: center;
    padding-top: 2%;
    font-weight: normal;
}
footer ul {
    list-style-type: none;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    margin-right: 7%;
}
footer a {
    color: #fff;
}
footer i {
    padding-right: 10px;
}

/*! DESIGN MOBILE !*/
@media (max-width: 767px) {
    header {
        width: 100%;
    }
    header img {
        padding-top: 6%;
        padding-bottom: 6%;
        width: 69.8%;
        padding-left: 16%;
        padding-right: 15%;
    }
    #header-localisation {
        width: 50%;
        padding-left: 27.8%;
        padding-right: 23%;
        margin-top: -4%;
        background-color: #ebebeb;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #header-localisation input {
        background-color: #ebebeb;
    }
    #header-info {
        width: 100%;
        display: inline-block;
    }
    #header-left {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 1%;
        width: 100%;
    }
    #header-left h1 {
        width: 62%;
        padding-left: 19%;
        font-size: 24px;
    }
    #header-left p {
        padding-top: 3%;
        font-size: 18px;
        padding-bottom: 5%;
    }
    #header-left input {
        font-size: 15px;
    }
    #header-right {
        width: 100%;
        margin-bottom: 0;
    }
    #header-right h2 {
        margin-left: -48%;
        margin-top: 25%;
    }
    .article-choice {
        width: 60%;
        margin-left: 11%;
    }
    #eatery h1 {
        width: 62%;
        margin-left: 5%;
        font-size: 24px;
        padding-top: 10%;
        padding-bottom: 8%;
    }
    #eatery-all article {
        margin-bottom: 8%;
        width: 84%;
        margin-left: 8%;
    }
    .eatery-img {
        height: 200px;
    }
    .cards-info p {
        font-weight: 300;
    }
    #span-top {
        bottom: 83%;
        left: 70%;
    }
    #span-top-middle {
        bottom: 83%;
        left: 70%;
    }
    footer {
        padding-bottom: 8%;
    }
    footer h3 {
        padding-right: 53%;
        font-size: 21px;
        padding-bottom: 2%;
    }
    footer ul {
        display: inline-block;
    }
    footer ul li {
        padding-bottom: 2%;
    }
}
/* DESIGN TABLETTE LANDSCAPE
@media screen and (min-width: 768px) and (max-width:1023px) {
    header img {
        width: 34.8%;
    }
    #header-localisation input {
        background-color: #F6F6F6;
    }
    .cards-info p {
        font-weight: 300;
    }
    #span-top {
        left: 76%;
        bottom: 87%;
    }
    #span-top-middle {
        left: 76%;
        bottom: 87%;
    }
}*/
/******************** PAGE MENU - LA PALETTE DU GOUT ************************/
/* NAV */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F6F6;
}
nav a {
    margin-left: -27%;
    margin-right: -33%;
    font-size: 20px;
    padding-top: 2%;
}
#nav-img {
    padding-top: 2%;
    width: 22%;
    margin-bottom: 2%;
}
/* HEADER ALL-PAGES */
#header-all-pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    background-color: #F6F6F6;
}
#header-img {
    width: 50%;
    height: 1200px;
    object-fit: cover;
    padding: 0;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
    background-color: #F6F6F6;
    margin-left: 2%;
    margin-top: 2%;
}
/* MAIN-TOP */
#main-top {
    margin-top: 5%;
}
#main-top-right {
    margin-top: -85%;
    margin-left: 54%;
    font-size: 29px;
    background-color: #f6f6f6;
    padding: 35px 70px 26px 67px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#main-top-right i {
    font-size: 23px;
    margin-right: 15%;
    font-weight: 100;
}
#main-top-right h1 {
    font-family: 'Shrikhand', cursive;
}
/* SECTION ID : ALL CHOICES */
main {
    background-color: #f6f6f5;
    margin-top: -7%;
}
/* STARTERS */
#starters {
    width: 50%;
    margin-left: 50%;
}
#main-courses {
    width: 50%;
    margin-left: 50%;
}
#desserts {
    width: 50%;
    margin-left: 50%;
}
/* SECTION ID : H2 STARTERS */
.title-choices {
    padding-top: 1%;
    font-weight: 200;
    font-size: 23px;
    width: 4.8%;
    margin-left: 20.2%;
    border-bottom: 5px solid #99E2D0;
    margin-bottom: 2%;
}
/* ARTICLE CLASS: CARDS-CHOICES */
main button {
    background-color: #fff;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    border-radius: 24px;
    margin-bottom: 2%;
    border: none;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
}
main button:hover {

    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
.cards-choices h3 {
    font-size: 17px;
    padding-bottom: 2px;
    display: flex;
}
/* DIV CLASS CHOICES-INFO */
.choices-info {
    display: flex;
    justify-content:space-between;
}
.choices-info p {
    font-weight: 100;
    font-size:15px;
}
.choices-info span {
    font-weight: 500;
    font-size: 15px;
}
/* BUTTON SECTION ID : ORDER */
#order {
    background-color: #f6f6f6;
}
#order button {
    font-size:20px;
    border-radius: 60px;
    padding: 15px 50px 15px 50px;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    color: #fff;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
    margin-left: 68%;
    margin-top: 19px;
    margin-bottom: 4%;
}
#order button:hover {
    background: linear-gradient(#fF85DA, #9365DC);
    font-weight: 500;
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
/*! RESPONSIVE DESIGN TABLETTE - LA PALETTE DU GOUT !*/
@media (min-width: 768px) and (max-width: 1180px) {
    #main-top-right {
        margin-top: -106%;
    }
    #order button {
        margin-left: 66.5%;
    }
}
/*! RESPONSIVE DESIGN MOBILE - LA PALETTE DU GOUT !*/
@media (max-width: 767px) {
    * {
        border: 1px solid purple;
    }
    /* HEADER */
    #header-all-pages {
        background-color: #fff;
    }
    nav {
        padding-top: 6%;
        background-color: #fff;
    }
    nav a {
        font-size: 20px;
        margin-left: -17%;
        margin-right: -23%;
        padding-top: 0;
    }
    #nav-img {
        width: 50%;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
        background-color: #fff;
    }
    #header-img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        padding: 0%;
        margin-left: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #main-top-right {
        /*margin-top: 0;*/
        margin-left: 0;
        font-size: 15px;
    }
    #main-top-right h1 {
        font-size: 29px;
        margin-left: -2%;
    }
    #main-top-right i {
        font-size: 24px;
        margin-right: 0;
        padding-right: 0;
    }
    /* MAIN */
    #starters {
        width: 100%;
        margin-left: 5%;
    }
    .title-choices {
        font-size: 18px;
        margin-left: 2%;
    }
    main button {
        width: 90%;
        border-radius: 15px;
        margin-left: 0;
    }
    #main-courses {
        width: 100%;
        margin-left: 5%;
    }
    #desserts {
        width: 100%;
        margin-left: 5%;
    }
    #order button {
        font-size: 15px;
        margin-left: 26%;
        margin-bottom: 14%;
        margin-top: 8%;
    }



}
/******************** PAGE MENU - LA NOTE ENCHANTÉE ************************/
/* HEADER TITLE */
#main-top-right-enchanted {
    width: 50%;
    margin-left: 54%;
    margin-top: -90%;
    font-size: 29px;
    background-color: #f6f6f5;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    padding-bottom: 2%;
}
#main-top-right-enchanted i {
    font-size: 23px;
    font-weight: 100;
    margin-right: 39%;
}
#main-top-right-enchanted h1 {
    font-family: 'Shrikhand', cursive;
}
/* HEADER IMG ONLY NOTE ENCHANTEE */
#header-img-restaurant {
    width: 50%;
    height: 1230px;
    object-fit: cover;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
    margin-left: 2%;
    margin-top: 2%;
    padding: 0;
    background-color: #F6F6F6;
}
/* BUTTON SECTION ID : ORDER */
#order-one {
    background-color: #f6F6F5;
}
#order-one button {
    margin-left: 68%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size:20px;
    border-radius: 60px;
    padding: 15px 50px 15px 50px;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    color: #fff;
    box-shadow: 0px 7px 10px rgb(197, 195, 195);
}
#order-one button:hover {
    background: linear-gradient(#fF85DA, #9365DC);
    font-weight: 500;
    box-shadow: 0px 7px 10px rgb(122, 122, 122);
}
/*! RESPONSIVE TABLETTE - LA NOTE ENCHANTÉE !*/
@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
    #main-top-right-enchanted {
        margin-top: -111%;
        font-size: 17px;
    }
    #main-top-right-enchanted h1 {
        margin-left: -4%;
    }
    #order-one button {
        margin-left: 66%;
    }
}
/*! RESPONSIVE MOBILE - LA NOTE ENCHANTÉE !*/
@media (max-width: 767px) {
    /* NAV */
    nav {
        padding-top: 8%;
    }
    /* HEADER */
    #main-top-right-enchanted {
        border-top-left-radius: 42px;
        border-top-right-radius: 42px;
        margin-top: -11%;
    }
    #main-top-right-enchanted h1 {
        font-size: 30px;
        margin-left: 0;
    }
    #main-top-right-enchanted i {
        font-size: 28px;
        padding-right: 5%;
        margin-right: 0;
    }
}





